**Import**

In [1]:
import pandas as pd
import ta
from tqdm.notebook import tqdm

**Load**

In [2]:
stock_file = ''

In [3]:
stock_df = pd.read_csv(stock_file, encoding='UTF-8')
stock_df

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2010-01-04,MMM,44.016735,69.414719,69.774246,69.122070,69.473244,3640265.0
1,2010-01-05,MMM,43.741032,68.979935,69.590302,68.311035,69.230766,3405012.0
2,2010-01-06,MMM,44.361347,69.958191,70.735786,69.824417,70.133781,6301126.0
3,2010-01-07,MMM,44.393177,70.008362,70.033447,68.662209,69.665550,5346240.0
4,2010-01-08,MMM,44.705978,70.501671,70.501671,69.648827,69.974915,4073337.0
...,...,...,...,...,...,...,...,...
1867131,2024-09-26,ZTS,194.869995,194.869995,195.160004,191.869995,192.119995,1556100.0
1867132,2024-09-27,ZTS,194.809998,194.809998,197.509995,194.419998,195.649994,1343700.0
1867133,2024-09-30,ZTS,195.380005,195.380005,196.000000,193.580002,195.009995,1838200.0
1867134,2024-10-01,ZTS,194.419998,194.419998,196.000000,191.080002,195.449997,1951200.0
1867135,2024-10-02,ZTS,192.460007,192.460007,194.350006,191.330002,193.520004,1233328.0

**Preprocess**

In [4]:
stock_df['Date'] = pd.to_datetime(stock_df['Date'])
stock_df

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2010-01-04,MMM,44.016735,69.414719,69.774246,69.122070,69.473244,3640265.0
1,2010-01-05,MMM,43.741032,68.979935,69.590302,68.311035,69.230766,3405012.0
2,2010-01-06,MMM,44.361347,69.958191,70.735786,69.824417,70.133781,6301126.0
3,2010-01-07,MMM,44.393177,70.008362,70.033447,68.662209,69.665550,5346240.0
4,2010-01-08,MMM,44.705978,70.501671,70.501671,69.648827,69.974915,4073337.0
...,...,...,...,...,...,...,...,...
1867131,2024-09-26,ZTS,194.869995,194.869995,195.160004,191.869995,192.119995,1556100.0
1867132,2024-09-27,ZTS,194.809998,194.809998,197.509995,194.419998,195.649994,1343700.0
1867133,2024-09-30,ZTS,195.380005,195.380005,196.000000,193.580002,195.009995,1838200.0
1867134,2024-10-01,ZTS,194.419998,194.419998,196.000000,191.080002,195.449997,1951200.0
1867135,2024-10-02,ZTS,192.460007,192.460007,194.350006,191.330002,193.520004,1233328.0

In [5]:
stock_df = stock_df.sort_values(by='Date')
stock_df

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2010-01-04,MMM,44.016735,69.414719,69.774246,69.122070,69.473244,3640265.0
1536768,2010-01-04,NOW,NaN,NaN,NaN,NaN,NaN,NaN
894592,2010-01-04,HUM,40.787460,45.680000,45.770000,44.430000,44.430000,2008500.0
972544,2010-01-04,JBHT,28.582912,33.060001,33.110001,32.240002,32.560001,1876000.0
642176,2010-01-04,EQT,21.491795,24.382145,24.632553,24.218836,24.218836,1422205.0
...,...,...,...,...,...,...,...,...
1443967,2024-10-02,PHM,143.300003,143.300003,144.000000,141.664993,143.029999,1061217.0
423167,2024-10-02,CME,223.570007,223.570007,225.949997,221.149994,225.949997,2088469.0
1440255,2024-10-02,PSA,355.299988,355.299988,356.920013,352.109985,356.429993,903245.0
1455103,2024-10-02,QCOM,168.320007,168.320007,169.750000,165.169998,166.014999,4390143.0
1867135,2024-10-02,ZTS,192.460007,192.460007,194.350006,191.330002,193.520004,1233328.0

**Filter Sector**

In [ ]:
sector = 'Technology'
companies_file = ''

In [ ]:
companies_df = pd.read_csv(companies_file, encoding='UTF-8')
companies_df

In [ ]:
symbols = companies_df[companies_df['Sector'] == sector]['Symbol'].unique()
symbols

In [ ]:
len(symbols)

In [ ]:
stock_df = stock_df[stock_df['Symbol'].isin(symbols)]
stock_df

**Choose Date Range**

In [ ]:
start_date = ''
end_date = ''

In [ ]:
stock_df = stock_df[(stock_df['Date'] >= start_date) & (stock_df['Date'] <= end_date)]
stock_df

**Handle NaN values**

In [6]:
stock_df = stock_df.dropna()
stock_df

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2010-01-04,MMM,44.016735,69.414719,69.774246,69.122070,69.473244,3640265.0
894592,2010-01-04,HUM,40.787460,45.680000,45.770000,44.430000,44.430000,2008500.0
972544,2010-01-04,JBHT,28.582912,33.060001,33.110001,32.240002,32.560001,1876000.0
642176,2010-01-04,EQT,21.491795,24.382145,24.632553,24.218836,24.218836,1422205.0
1455104,2010-01-04,DGX,46.832848,61.160000,61.180000,60.230000,60.730000,1046000.0
...,...,...,...,...,...,...,...,...
1443967,2024-10-02,PHM,143.300003,143.300003,144.000000,141.664993,143.029999,1061217.0
423167,2024-10-02,CME,223.570007,223.570007,225.949997,221.149994,225.949997,2088469.0
1440255,2024-10-02,PSA,355.299988,355.299988,356.920013,352.109985,356.429993,903245.0
1455103,2024-10-02,QCOM,168.320007,168.320007,169.750000,165.169998,166.014999,4390143.0
1867135,2024-10-02,ZTS,192.460007,192.460007,194.350006,191.330002,193.520004,1233328.0

**Check compatibility with the Stock Embedding Model**

In [ ]:
stock_features

In [ ]:
flag = False

for feature in stock_features:
    if feature not in stock_df.columns:
        print(f'{feature} not found in stock_df')
        flag = True

if flag:
    print('Columns in stock_df are: ', stock_df.columns)
    raise Exception()

*Handle*

In [7]:
stock_df.rename(columns={'Adj Close': 'Adj_Close'}, inplace=True)
stock_df

/tmp/ipykernel_2070197/3882806131.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_df.rename(columns={'Adj Close': 'Adj_Close'}, inplace=True)

,Date,Symbol,Adj_Close,Close,High,Low,Open,Volume
0,2010-01-04,MMM,44.016735,69.414719,69.774246,69.122070,69.473244,3640265.0
894592,2010-01-04,HUM,40.787460,45.680000,45.770000,44.430000,44.430000,2008500.0
972544,2010-01-04,JBHT,28.582912,33.060001,33.110001,32.240002,32.560001,1876000.0
642176,2010-01-04,EQT,21.491795,24.382145,24.632553,24.218836,24.218836,1422205.0
1455104,2010-01-04,DGX,46.832848,61.160000,61.180000,60.230000,60.730000,1046000.0
...,...,...,...,...,...,...,...,...
1443967,2024-10-02,PHM,143.300003,143.300003,144.000000,141.664993,143.029999,1061217.0
423167,2024-10-02,CME,223.570007,223.570007,225.949997,221.149994,225.949997,2088469.0
1440255,2024-10-02,PSA,355.299988,355.299988,356.920013,352.109985,356.429993,903245.0
1455103,2024-10-02,QCOM,168.320007,168.320007,169.750000,165.169998,166.014999,4390143.0
1867135,2024-10-02,ZTS,192.460007,192.460007,194.350006,191.330002,193.520004,1233328.0

**Calculate Technical Indicators**

In [9]:
def calculate_indicators(df: pd.DataFrame, rolling_window: int = 50):
    df = df.copy()
    
    # Calculate technical indicators
    # df['momentum'] = ta.momentum.roc(df['Close'])
    # df['trend'] = ta.trend.sma_indicator(df['Close'])
    # df['volatility'] = ta.volatility.bollinger_mavg(df['Close'])
    # df['volume'] = ta.volume.on_balance_volume(df['Close'], df['Volume'])
    df['stoch'] = ta.momentum.stoch(df['High'], df['Low'], df['Close'])
    df['adx'] = ta.trend.adx(df['High'], df['Low'], df['Close'])
    df['bollinger_hband'] = ta.volatility.bollinger_hband(df['Close'])
    df['mfi'] = ta.volume.money_flow_index(df['High'], df['Low'], df['Close'], df['Volume'])
    df['rsi'] = ta.momentum.rsi(df['Close'])
    df['ma'] = ta.trend.sma_indicator(df['Close'])
    df['std'] = df['Close'].rolling(window=rolling_window).std()
    df['adl'] = ta.volume.acc_dist_index(df['High'], df['Low'], df['Close'], df['Volume'])
    df['williams'] = ta.momentum.williams_r(df['High'], df['Low'], df['Close'])
    df['macd'] = ta.trend.macd(df['Close'])
    df['obv'] = ta.volume.on_balance_volume(df['Close'], df['Volume'])
    df['sar'] = ta.trend.psar_down(df['High'], df['Low'], df['Close']) # Added the 'close' argument
    df['ichimoku_a'] = ta.trend.ichimoku_a(df['High'], df['Low'])
    df['ichimoku_b'] = ta.trend.ichimoku_b(df['High'], df['Low'])

    return df

In [10]:
symbols = stock_df['Symbol'].unique()
symbols

array(['MMM', 'HUM', 'JBHT', 'EQT', 'DGX', 'SYK', 'INCY', 'AVB', 'TDG',
       'J', 'MOS', 'BRO', 'ICE', 'IPG', 'V', 'PNR', 'CSX', 'RVTY', 'IVZ',
       'IEX', 'LIN', 'DECK', 'VZ', 'KDP', 'AMP', 'UAL', 'AXP', 'AKAM',
       'WST', 'STZ', 'GL', 'LNT', 'WM', 'LH', 'MSI', 'MPWR', 'QCOM',
       'ERIE', 'CLX', 'USB', 'AIZ', 'DLTR', 'LMT', 'AZO', 'ORLY', 'INTC',
       'K', 'PG', 'MMC', 'F', 'TDY', 'TECH', 'HOLX', 'FCX', 'ECL', 'POOL',
       'GLW', 'WRB', 'AMD', 'XEL', 'NKE', 'FDS', 'WBD', 'HRL', 'ES',
       'AJG', 'ANSS', 'NI', 'VLO', 'EFX', 'CVX', 'NDAQ', 'RMD', 'EBAY',
       'LHX', 'TFX', 'BBY', 'ETR', 'DE', 'WYNN', 'BA', 'KLAC', 'HIG',
       'MS', 'SRE', 'PLD', 'COP', 'AES', 'RJF', 'SMCI', 'WY', 'APD',
       'AXON', 'TSCO', 'BR', 'TTWO', 'CSCO', 'JCI', 'PKG', 'PEG', 'TT',
       'PODD', 'IFF', 'ADI', 'FICO', 'AVY', 'AMZN', 'MLM', 'FMC', 'ALL',
       'NRG', 'DHI', 'BWA', 'TMUS', 'WAB', 'CMCSA', 'DG', 'ESS', 'PNC',
       'MAS', 'EA', 'APH', 'FI', 'DUK', 'MCHP', 'EXR', 'NOC', 'RL', 'C',
       'OXY', 'MDLZ', 'FE', 'MET', 'NVDA', 'STLD', 'BLDR', 'KIM', 'DOC',
       'TGT', 'CHRW', 'BLK', 'ABT', 'PPG', 'CPRT', 'MCO', 'PHM', 'KO',
       'ATO', 'ZBH', 'TYL', 'GE', 'ROL', 'CMS', 'KMX', 'FFIV', 'MTD',
       'CCL', 'GPN', 'L', 'LRCX', 'ACN', 'BKNG', 'TROW', 'SPG', 'DHR',
       'PAYX', 'CRL', 'YUM', 'SWK', 'XOM', 'SPGI', 'COR', 'WELL', 'ED',
       'PGR', 'WBA', 'CTSH', 'ALB', 'PSA', 'CVS', 'NVR', 'DPZ', 'EW',
       'MRO', 'SO', 'MGM', 'VRSN', 'INTU', 'ITW', 'AEP', 'TSN', 'T',
       'UNP', 'AMGN', 'ACGL', 'HUBB', 'JBL', 'HON', 'UNH', 'APA', 'JPM',
       'MO', 'EQIX', 'DOV', 'MNST', 'ADBE', 'MSFT', 'TEL', 'BIIB', 'ISRG',
       'IDXX', 'GOOGL', 'DIS', 'EXPE', 'CTRA', 'KEY', 'HES', 'VRSK',
       'AME', 'HAS', 'PCG', 'GILD', 'COST', 'TRV', 'SHW', 'CRM', 'CL',
       'PTC', 'CE', 'PM', 'DVA', 'MAR', 'FTNT', 'BG', 'STT', 'SCHW',
       'ROK', 'WAT', 'PARA', 'PWR', 'STE', 'MKTX', 'EIX', 'NFLX', 'ROP',
       'CF', 'DTE', 'NEE', 'TFC', 'COF', 'EQR', 'BEN', 'MTB', 'D', 'ADSK',
       'CME', 'SWKS', 'LDOS', 'MAA', 'EXC', 'BX', 'EMR', 'ADP', 'WDC',
       'TRMB', 'CMI', 'DRI', 'PH', 'UHS', 'AON', 'BF-B', 'MA', 'CAT',
       'HBAN', 'ULTA', 'ADM', 'TMO', 'BALL', 'STX', 'GPC', 'LVS', 'UPS',
       'AIG', 'ORCL', 'NUE', 'IRM', 'MDT', 'FRT', 'FITB', 'MKC', 'MSCI',
       'CDNS', 'PRU', 'CAG', 'MOH', 'EG', 'DLR', 'OMC', 'CI', 'REG',
       'DVN', 'NEM', 'LUV', 'WTW', 'FSLR', 'MTCH', 'ZBRA', 'DAL', 'RSG',
       'CMG', 'ETN', 'NDSN', 'CINF', 'O', 'WMT', 'PFG', 'AFL', 'COO',
       'RCL', 'CNC', 'KMB', 'HSIC', 'SBUX', 'BXP', 'KR', 'GS', 'AVGO',
       'GOOG', 'WFC', 'ARE', 'PPL', 'TXT', 'BAC', 'NTRS', 'PFE', 'EMN',
       'NSC', 'NTAP', 'MCK', 'FDX', 'CHD', 'HPQ', 'JKHY', 'REGN', 'TXN',
       'BAX', 'MHK', 'LOW', 'CBRE', 'SLB', 'BMY', 'SNPS', 'ON', 'PNW',
       'HD', 'JNPR', 'HAL', 'WMB', 'A', 'IT', 'EVRG', 'MCD', 'FIS', 'DD',
       'EXPD', 'MU', 'AMT', 'VTRS', 'LEN', 'GIS', 'UDR', 'LYV', 'GEN',
       'JNJ', 'HST', 'IP', 'DXCM', 'OKE', 'ELV', 'EOG', 'CB', 'RF', 'TER',
       'VMC', 'AOS', 'GWW', 'BDX', 'AEE', 'BRK-B', 'AMAT', 'IBM', 'TJX',
       'PEP', 'TAP', 'SNA', 'CCI', 'VRTX', 'EL', 'DFS', 'CPT', 'ALGN',
       'BKR', 'GRMN', 'CAH', 'MRK', 'SBAC', 'WEC', 'FAST', 'ROST', 'GD',
       'BSX', 'LKQ', 'RTX', 'ODFL', 'TPR', 'PCAR', 'SYY', 'CTAS', 'AAPL',
       'CPB', 'BK', 'SJM', 'CSGP', 'URI', 'LULU', 'CNP', 'HSY', 'VTR',
       'LLY', 'AWK', 'CHTR', 'GNRC', 'LYB', 'CBOE', 'TSLA', 'KKR', 'NXPI',
       'GM', 'TRGP', 'CPAY', 'KMI', 'HCA', 'HII', 'MPC', 'XYL', 'APTV',
       'EPAM', 'ENPH', 'PSX', 'AMCR', 'META', 'NOW', 'PANW', 'FANG',
       'ABBV', 'NCLH', 'ZTS', 'IQV', 'NWS', 'NWSA', 'CDW', 'ALLE', 'HLT',
       'PAYC', 'ANET', 'CTLT', 'SYF', 'CZR', 'CFG', 'KEYS', 'QRVO',
       'GDDY', 'PYPL', 'KHC', 'HPE', 'FTV', 'DELL', 'VST', 'HWM', 'LW',
       'INVH', 'IR', 'VICI', 'DAY', 'MRNA', 'FOXA', 'FOX', 'DOW', 'UBER',
       'CTVA', 'CRWD', 'OTIS', 'CARR', 'PLTR', 'ABNB', 'CEG', 'GEHC',
       'KVUE', 'VLTO', 'SOLV', 'GEV', 'SW', 'AMTM'], dtype=object)

In [11]:
stock_df_with_indicators = pd.DataFrame()

for symbol in tqdm(symbols):
    symbol_df = stock_df[stock_df['Symbol'] == symbol]
    symbol_df = symbol_df.sort_values(by = 'Date')
    
    try:
        symbol_df = calculate_indicators(df=symbol_df, rolling_window=24)
        
        symbol_df = symbol_df.ffill()
        symbol_df = symbol_df.bfill()
        
        if symbol_df.isna().sum().sum() > 0:
            print(f'NaN values found. Symbol: {symbol}')
            raise Exception('NaN values found.')
        
    except:
        continue
    
    stock_df_with_indicators = pd.concat([stock_df_with_indicators, symbol_df], axis=0)

stock_df = stock_df_with_indicators

  0%|          | 0/503 [00:00<?, ?it/s]

**Export**

In [12]:
stock_df.columns

Index(['Date', 'Symbol', 'Adj_Close', 'Close', 'High', 'Low', 'Open', 'Volume',
       'stoch', 'adx', 'bollinger_hband', 'mfi', 'rsi', 'ma', 'std', 'adl',
       'williams', 'macd', 'obv', 'sar', 'ichimoku_a', 'ichimoku_b'],
      dtype='object')

In [13]:
exported_file = ''

In [15]:
stock_df.to_csv(exported_file, index=False, encoding='UTF-8')